<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}OMG! Django{% endblock %}</title>
</head>

<body>
    <div id="greetuser">
        {% block greetuser %}
            {% if user.is_authenticated %}
                <h3>User {{ user.username }}</h3>
                <a href="{% url 'courses:index' %}">Home</a>
                <a href="{% url 'courses:profile' pk=user.id %}">Profile</a>
                <a href="{% url 'courses:courses' %}">Courses</a>
                <a href="{% url 'courses:subjects' %}">Subjects</a>
                <a href="{% url 'courses:logout' %}">Logout</a>
                <br />
            {% else %}
                <h3>OMG! Django Framework</h3>
                <a href="{% url 'courses:index' %}">Home</a>
                <a href="{% url 'courses:login' %}">Log In</a>
                <a href="{% url 'courses:signup' %}">Sign Up</a>
                <br />
            {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}<p>Django is an open source Python framework.</p>{% endblock %}
    </div>
</body>
</html>
