<!DOCTYPE html>
<html>
    <head>
        <title>Courses Training</title>
    </head>
    <body>
        <h1>Courses Training Homepage</h1>

        {% if user.is_authenticated %}
            <h2>User <strong>{{ user.get_username }}</strong></h2><br />
            <a href="{% url 'courses:profile' %}">Profile</a>
            <a href="{% url 'courses:logout' %}">Logout</a><br/>
        {% else %}
            <a href="{% url 'courses:login' %}">Log In</a><br/>
            <a href="{% url 'courses:signup' %}">Sign Up</a><br/>
        {% endif %}

        {% if courses %}
            <ul>
            {% for item in courses %}
                <li>
                    {{ item.name }}<br />
                    <em>{{ item.description }}</em><br />
                    begin: {{ item.date_begin }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <em>There is no courses!</em>
        {% endif %}
    </body>
</html>
