<!DOCTYPE html>
<html>
    <head>
        <title>Courses Training</title>
    </head>
    <body>
        <h1>Login to Courses Training</h1>
        
        <form id="login_form" method="post" action="{% url 'courses:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
